@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
  --font-serif: var(--font-playfair);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1b1c;
    --foreground: #ededed;
  }
}

body,
h1,
h2,
h3 {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

code,
pre {
  font-family: var(--font-mono), monospace;
}

button {
  cursor: pointer;
}
